<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MusWise{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'assets/vendor/bootstrap/dist/css/bootstrap.min.css' %}
            <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block head %}
                <nav class="navbar navbar-inverse navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ url("homepage") }}">Homepage</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Test</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">JavaScript<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Main JS</a></li>
                                        <li><a href="#">Loan Calculator</a></li>
                                        <li><a href="#">2048</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Angular<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Angular</a></li>
                                        <li><a href="#">Todo List</a></li>
                                        <li><a href="#">Store</a></li>
                                        <li><a href="#">Test</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
            {% endblock %}
            <div class="container">
                {% block content %}

                {% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            {% javascripts
                'assets/vendor/jquery/dist/jquery.js'
                'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
                'assets/vendor/angular/angular.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
